
/**** Style reset ****/
/* https://codepen.io/kevinpowell/pen/QWxBgZX */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/*
Rubriker/kategorier jag borde lägga till för att strukturera min kod.

GLOBAL
LAYOUT
TYPOGRAPHY
COMPONENTS
*/

body {
    background-color: rgb(220, 172, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

div#contentBlock {
    background-color: rgb(252, 252, 252); 
    width: 1280px; /* alternativt 80rem */
}

.topImage {
    margin: 1px;
}

main {
    margin: max(2.6vw, 24px); /* 24px kommer från mellanrummet mellan bilderna längst ner */
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

div.noticeBox {
    background-color: rgb(235, 235, 235);
    padding: 1.15rem;
}

h1 {
    color: rgb(161, 0, 0);
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0.68em 0;
}

h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.83em 0;
}

p {
    margin: 1rem 0;
}

ul, ol {
    margin: 0.625rem;
    list-style-position: inside;
    line-height: 2;
}

img {
    width: 100%;
    object-fit: cover;
}

div.imagesRow {
    display: flex;
}

div.imageColumn {
    flex: 50%;
}