
/**** RESET ****/
/* https://codepen.io/kevinpowell/pen/QWxBgZX */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/*
Rubriker/kategorier jag borde lägga till för att strukturera min kod.

GLOBAL
LAYOUT
TYPOGRAPHY
COMPONENTS
*/


/**** Varibaler ****/

:root {
    /* font-weight */
    --fw-header: 700;

    /* colors */
    /* background */
    --color-bg-1: rgb(220, 172, 172);
    --color-bg-2:rgb(252, 252, 252);
    /* headings */
    --color-heading-1: rgb(161, 0, 0);
    --color-heading-2: black;
    /* other */
    --color-info-box: rgb(235, 235, 235);
}


/**** GLOBAL ****/

body {
    background-color: var(--color-bg-1);
}

/**** MAIN HEADER ****/

.main-navigation {
    block-size: 5rem;
    background-color: var(--color-bg-2);

    font-size: 2rem;
}

.main-navigation ul {
    list-style: none;
    /* FLEXBOX */
    display: flex;
    justify-content: end;
    
}

.nav-item {
    background-color: lime;
    /* align-self: flex-end; */
}

.main-navigation li:first-of-type,
.main-navigation li:last-of-type {
    background-color: tomato;
    /* justify-items: start;     !!FUNKAR INTE!! */
}

/**** MAIN CONTENT ****/

main {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: var(--color-bg-2);
    max-width: 1280px;
    margin-inline: auto;
}

article {
    padding-bottom: 24px;
}

.margin-sides {
    margin-inline: max(2.6vw, 24px);
}

h1, h2 {
    font-weight: var(--fw-header);

    &.heading-1 {
        color: var(--color-heading-1);
        font-size: 1.75rem;
        margin-block: 0.68em;
    }

    &.heading-2 {
        color: var(--color-heading-2);
        font-size: 1.5rem;
        margin-block: 0.83em;
    }
}

.info-box {
    background-color: var(--color-info-box);
    padding: 1.15rem;
}

.portions {
    margin-block: 1rem;
}

.list {
    margin: 0.625rem;
    list-style-position: inside;
    line-height: 2;
}

/**** IMAGES ****/

.recipe-image {
    width: 100%;
    object-fit: cover;
    margin: auto;
    padding: 1px;
}

.image-row {
    display: flex;
}

.image-column {
    flex: 50%;
}