
.grid-even-columns {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

section.grid-even-columns {
    margin-block-start: 2rem;
}

.recipe-card {
    background-color: var(--color-bg-3);
    border-radius: 1rem;
    padding-block-end: 1rem;
    display: grid;

    h2, p {
        margin-inline: 0.8rem;

        &.heading-2 {
            margin-block: 0.5rem;
        }
    }
    
    a {
        order: -1;
        overflow: hidden;

        &:hover, &:focus-visible {
            img {
                transform: scale(1.1);
            }
        }
    }

    img {
        max-height: 200px;
        width: 100%;
        border-radius: 1rem 1rem 0 0; /* 1rem på övre hörn, 0 på nedre hörn */

        object-fit: cover;
        transition: transform .3s;
    }
}