
main {
    padding-block-start: var(--main-margin);
}

.grid-even-columns {
    display: grid;
    gap: 1rem;

    grid-template-columns: 1fr 1fr 1fr;
}

section.grid-even-columns {
    margin-block-start: 2rem;
}

.recipe-card {
    /* border: 2px solid lime; */
    background-color: var(--color-info-box);
    /* border-radius: 1rem; */
    padding-block-end: 1rem;
    display: grid;

    h2, p {
        margin-inline: 0.8rem;

        &.heading-2 {
            margin-block: 0.5rem;
        }
    }
    
    a {
        order: -1;
        overflow: hidden;
    }

    img {
        max-height: 200px;
        width: 100%;
        /* border-radius: 1rem 1rem 0 0; */

        object-fit: cover;
        transition: transform .3s;

        &:hover {
            transform: scale(1.1);
        }
    }
}