
/**** RESET ****/
/* https://codepen.io/kevinpowell/pen/QWxBgZX */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}



/***************
    Varibaler
***************/

:root {
    /* TEXT */
    /* font-weight */
    --fw-header: 700;
    --fw-paragraph: 400;

    /* COLORS */
    /* background */
    --color-bg-1: oklch(78.8% 0.0564 18.335);
    --color-bg-2:oklch(99.107% 0.00011 271.152);
    --color-bg-3: oklch(94.007% 0.00011 271.152);
    /* headings */
    --color-heading-1: oklch(44.52% 0.1827 29.223);
    --color-heading-2: oklch(0% 0 0);
    /* other */
    --color-accent-1: oklch(91.501% 0.13038 169.036);
    --color-accent-2: color-mix(in oklch, var(--color-heading-1), oklch(70% 0 0) );

    /* OTHER VARIABLES */
    /* margins */
    --main-margin: max(2.6vw, 24px);
}


/**** GLOBAL ****/

body {
    background-color: var(--color-bg-1);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

a.skiplink {
    display: inline-block;
    color: #555;
    background: #fff;
    padding: .5em;
    position: absolute;
    left: -99999rem;
    z-index: 100;

    &:focus {
        left: 0;
    }
}

/**** MAIN HEADER ****/
/****   FLEXBOX   ****/

.nav-list {
    min-height: 4rem;
    background-color: var(--color-bg-2);
    list-style: none;

    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    .nav-item {
        /* background-color: var(--color-bg-3); */
        border-radius: 1rem;

        font-size: clamp(1.2rem, 1.5vw, 2rem);
        font-weight: var(--fw-header);
        text-align: center;
        white-space: nowrap;

        a {
            cursor: pointer;
        }
    }

    .header-logo {
        height: 2.5rem;
        min-width: 3rem;
        display: inline;
        object-position: -0.25rem 0.25rem;
    }

    > :first-child {
        width: 23.75rem;

        .nav-item {
            font-size: 2rem;
        }
    }

    > :nth-child(2) {
        width: 40%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    > :last-child {
        width: 23.75rem;

        img {
            max-width: 3rem;
            margin-left: auto;
            margin-right: 0.5rem;
        }

        @media (width < 1280px) {
            max-width: 3rem;
        }
    }

}

/**** MAIN CONTENT ****/

main {
    background-color: var(--color-bg-2);
    max-width: 1280px;
    margin-inline: auto;
    padding-block-end: var(--main-margin);
}

.margin-sides {
    margin-inline: var(--main-margin);
}

h1, h2 {
    font-weight: var(--fw-header);

    &.heading-1 {
        color: var(--color-heading-1);
        font-size: 1.75rem;
        /* font-size: clamp(1.5rem, 3vw, 2rem); */
        margin-block: 0.68em;
    }

    &.heading-2 {
        color: var(--color-heading-2);
        font-size: 1.5rem;
        /* font-size: clamp(1.25rem, 2vw, 1.75rem); */
        margin-block: 0.83em;
    }
}

.info-box {
    background-color: var(--color-bg-3);
    border-radius: 1rem;
    padding: 1.15rem;
}

.portions {
    margin-block: 1rem;
}

.list {
    margin: 0.625rem;
    list-style-position: inside;
    line-height: 2;
}

/**** IMAGES ****/

.recipe-image {
    width: 100%;
    object-fit: cover;
    margin: auto;
    padding: 1px;
}

.image-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    img {
        border-radius: 1rem;
        height: min(467px, 40vw);
    }
}